.title{
    /*padding: 40px;*/
    height: 95vh;
    text-align: center;
}

.title h1{
    margin-top: 10%;
    font-size: 4em;
}

.title h2 {
}

#topic{
    text-decoration: underline;
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 2em;
}

#underTitle{
    margin-top: -30px;
}

#student{
    font-family: Lucida Handwriting, sans-serif;
}

.button {
    display: inline-block;
    border-radius: 10px;
    background-color: #f0f0f0;
    border: 2px solid black;
    color: #000000;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px;
}

#info{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.hover_bkgr_fricc {
    background: rgba(0, 0, 0, .4);
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.hover_bkgr_fricc .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.hover_bkgr_fricc > div {
    background-color: #212529;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

.popupCloseButton {
    background-color: #212529;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.popupCloseButton:hover {
    background-color: #212529;
}

.trigger_popup_fricc {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
}